/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, h1, h2, h3, h4, 
a, p, ol, ul, li, form, label, article, aside, 
figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #F2F2F2; /* background: whitesmoke */
  font-family: 'Overpass', sans-serif;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
}

/* input[type='submit'] {
  border: none;
  background-color: white;
  font-size: 100%;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
} */

/* MODAL */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(242, 242, 242, 0.8);
  opacity: 1;
  transition: opacity 0.2s linear;
  z-index: 10;
}

.modal-child {
  animation: modal-drop-in 0.3s;
  background-color: white;
  height: 555px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}

@keyframes modal-drop-in {
  from { top: -100px; }
  to { top: 0; }
}

.session-form, .provider-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.auth-separator {
  text-align: center;
}

.form-control {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  font-size: 18px;
  padding: 7px 8px;
}

.session-form-btn {
  background-color: #f50;
  border: 1px solid #e5e5e5;
  border-color: #f50;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  height: 40px;
  text-shadow: none;
}

a.not-allowed {
  color: white;
}

/* SPLASH */

.splash-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.splash-top {
  background: url('splash-top-01.jpg');
  background-size: 100%;
  display: flex;
  border-top: 5px solid #FF5604;
  height: 455px;
  position: relative;
  width: 1240px;
}

.splash-top-session {
  background: transparent;
  right: 50px;
  top: 25px;
  position: absolute;
  z-index: 900;
}

.session-btn {
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 100px;
  padding: 5px 15px;
  margin-right: 10px;
}

.splash-music {
  background: white;
  height: 830px;
  width: 1240px;
}

.splash-devices {
  height: 450px;
  width: 1240px;
}

.splash-creative {
  background: url('splash-creative-raphael-schaller.jpg');
  background-size: 100%;
  height: 350px;
  width: 1240px;
}

.splash-creative-content p {
  background: transparent;
  color: white;
  float: right;
  /* flex-wrap: column; */
}

.splash-bottom {
  background: white;
  height: 500px;
  width: 1240px;
}

.signup {
  background: #FF5604; /* SoundCloud orange */
  border: 1px solid #FF5604;
}

.signin {
  background: transparent;
  border: 1px solid #e5e5e5;
}

.not-allowed {
  background: transparent;  
  cursor: not-allowed;
}

.devices-mockup {
  height: auto;
  max-width: 800px;
  padding: 75px 0 0 100px;
}

/* NAV BAR */

.nav-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 46px;
  border-right: 1px solid #111;
  box-sizing: border-box;
  text-align: center;
  background: #333;
  transition: height .2s ease-in-out;
}

.nav-bar a {
  background: #333;
  color: #ccc;
  text-decoration: none;
  display: block;
  width: 104px;
}

.nb-left {
  background: #333;
  border: 0;
  border-right: 1px solid #111;
}

.nav-bar-search {
  background: #333;
  padding: 9px 10px 8px;
  position: relative;
}

.nav-bar-search input {
  background: #e5e5e5;
  border: 0;
  border-radius: 4px;
  color: #666;
  cursor: text;
  outline: 0;
  padding: 5px 7px;
  width: 390px;
}

.nav-bar-menu-container {
  position: relative;
  display: inline-block;
}

ul.nav-bar-menu-dropdown.revealed {
  display: block;
  position: absolute;
  top:  100%;
  left: 0;
  z-index: 2;
}

ul.nav-bar-menu-dropdown.hidden {
  display: none;
}

/* DISCOVER */

.discover-main {
  background: white;
  display: flex;
  align-content: center;
  width: 1240px;
}