/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESET */

html, body, header, nav, h1, h2, h3, h4, h5, h6, 
a, ol, ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 100;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
  background: transparent;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.not-allowed {
  cursor: not-allowed;
}

/* SPLASH */

#root {
  background-color: #f2f2f2;
}

.splash-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1240px;
}

.splash-top {
  background: url('splash-top-01.jpg');
  background-size: 100%;
  border-top: 5px solid #FF5604;
  color: white;
  height: 455px;
  position: relative;
}

.splash-top-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 50px 0;
}

.splash-top-main {
  margin: 0 auto;
  text-align: center;
  padding: 125px;
}

p.stm-tagline {
  max-width: 530px;
  margin: 0 auto;
  font-size: 18px;
}

p.stm-title {
  margin-bottom: 8px;
  font-size: 38px;
}

button.session-btn {
  color: white;
  font-size: 14px;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 3px;
}

button.signin {
  background: transparent;
  border: 1px solid #e5e5e5;
}

button.signup {
  background: #FF5604;
  border: 1px solid #FF5604;
}

.splash-music {
  background-color: white;
  display: flex;
  /* height: 830px; */
  margin: 0 auto;
}

.splash-devices {
  background-color: #f2f2f2;
  display: flex;
  height: 450px;
  margin-top: 60px;
  padding: 0 70px;
}

.splash-devices-teaser {
  background: url('devices-mockup.jpg');
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.splash-devices-info {
  width: 325px;
  margin-left: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

p.sdi-header {
  line-height: 1.2;
  font-size: 34px;
  margin-bottom: 17px;
}

p.sdi-header:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-image: linear-gradient(90deg,#7d01a1,#f30 50%,#f50);
  margin-top: 15px;
}

p.sdi-content {
  font-size: 24px;
}

.sdi-links {
  margin-top: 28px;
}

.sdi-links a {
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 14px;
  margin-right: 8px;
  height: 40px;
}

.app-store {
  background-image: url('app-store-icon.png');
  width: 120px;
}

.google-play {
  background-image: url('google-play-icon.png');
  width: 135px;
}

/* MODAL */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(242, 242, 242, 0.8);
  opacity: 1;
  transition: opacity 0.2s linear;
  z-index: 10;
}

.modal-child {
  animation: modal-drop-in 0.3s;
  background-color: white;
  height: 555px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}

@keyframes modal-drop-in {
  from { top: -100px; }
  to { top: 0; }
}

.session-form-providerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form-providerButtons a {
  margin: 10px 15px;
  color: white;
  background: grey;
  line-height: 18px;
  height: 40px;
  width: 100%;
  text-align: center;
  border-radius: 3px;
}

.session-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 500px;
  width: 400px;
}

.auth-separator {
  margin: 1em auto;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.session-form-input input {
  width: 380px;
  font-size: 18px;
  line-height: 24px;
  padding: 7px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.session-form-errors {
  color: #cf0000;
  font-size: 12px;
  margin: .5em 0;
  transition: margin .12s;
}

.session-form-button {
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding: 10px 15px;
  height: 25px;
  border-radius: 3px;
}

/* NAV BAR */

.banner {
  background: #333;
  height: 46px;
}

.nav-bar {
  align-items: center;
  color: white;
  font-size: 14px;
  display: flex;
  height: 46px;
  margin: 0 auto;
  width: 1240px;
}

.nav-bar-left {
  display: flex;
}

.nbl-logo {
  background: linear-gradient(#f70,#f30);
  display: block;
  width: 180px;
}

ul.nbl-nav-list {
  display: flex;
  align-items: center;
}

ul.nbl-nav-list > li > a {
  display: block;
  align-items: center;
  padding: 12px 0;
  width: 104px;
  height: 46px;
  border-right: 1px solid #111;
  box-sizing: border-box;
  text-align: center;
}

.nav-bar-search {
  padding: 9px 10px 8px;
  position: relative;
  width: 412px;
}

.nav-bar-search input {
  color: #666;
  outline: 0;
  border: 0;
  padding: 5px 7px;
  background: #e5e5e5;
  border-radius: 3px;
  width: 394px;
}

.nav-bar-search button {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 55px;
  top: 15px;
  border: 0;
  padding: 0;
}

.nav-bar-right {
  display: flex;
  align-items: center;
}

.nav-bar-menu {
  width: 46px;
}

.nav-bar-menu-click {
  background: url('meatball-icon.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.nav-bar-menu {
  position: relative;
  display: inline-block;
}

ul.nav-bar-menu-dropdown.revealed {
  display: block;
  color: black;
  position: absolute;
  top:  100%;
  left: 0;
  z-index: 2;
}

ul.nav-bar-menu-dropdown.hidden {
  display: none;
}

/* DISCOVER */

.discover-main {
  background: white;
  display: flex;
  margin: 0 auto;
  width: 1240px;
}