/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* RESET */

html, body, header, nav, h1, h2, h3, h4, h5, h6, 
a, ol, ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 100;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
  background: transparent;
}

ol, ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

button,
input[type="submit"] {
  cursor: pointer;
  border-radius: 3px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.not-allowed {
  cursor: not-allowed;
}

/* SPLASH */

#root {
  background-color: #f2f2f2;
}

.splash-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1240px;
}

.splash-top {
  background: url('splash-top-01.jpg');
  background-size: 100%;
  border-top: 5px solid #FF5604;
  height: 455px;
  position: relative;
}

.splash-top-nav {
  display: flex;
  color: #FED766;
  font-size: 14px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 35px 0;
}

img.stnl-logo {
  background: #FED766;
  width: 23px;
  padding: 3px;
}

.splash-top-main {
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 125px;
}

.splash-top-main p {
  background: rgba(0,0,0, 0.80);
}

p.stm-tagline {
  max-width: 580px;
  margin: 0 auto;
  font-size: 18px;
}

p.stm-title {
  font-style: italic;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 8px;
  font-size: 38px;
}

button.session-btn {
  color: white;
  font-size: 14px;
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 3px;
}

button.signin {
  background: transparent;
  border: 1px solid #e5e5e5;
}

button.signup {
  background: #FF5604;
  border: 1px solid #FF5604;
}

.splash-music {
  background: white;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 830px;
  padding: 30px 0;
}

.splash-music-search {
  display: flex;
  margin: 49px 0 12px;
  align-items: center;
  justify-content: center;
}

.sms-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 824px;
}

.sms-searchbar {
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 16px;
  height: 46px;
  width: 500px;
}

.sms-searchbar-form {
  position: relative;
}

.sms-searchbar-button {
  position: absolute;
  right: 18px;
  top: 16px;
}

.sms-container span {
  font-weight: 500;
  margin: 0 14px;
}

.splash-music-trending {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smt-title {
  font-size: 24px;
  font-weight: 340;
  padding-top: 20px;
  margin-bottom: 30px;
}

.smt-li-artwork {
  width: 190px;
}

.smt-li-title {
  color: #333;
  line-height: 1.4;
  font-size: 15px;
  font-weight: 400;
  margin: 5px 0 3px;
}

.smt-playlist ul {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 1180px;
}

.smt-playlist li {
  padding-bottom: 40px;
}

.smt-li-artist {
  color: #999;
  font-size: 12px;
}

.smt-li-description {
  display: flex;
  flex-direction: column;
}

.track-play-container {
  position: relative;
}

.track-play-button,
.track-play-button-background {
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.track-play-container:hover 
.track-play-button {
  color: #FF5604;
}

.track-play-container:hover 
.track-play-button-background {
  background: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.splash-devices {
  background-color: #f2f2f2;
  display: flex;
  height: 450px;
  padding: 0 70px;
}

.splash-devices-teaser {
  background: url('devices-mockup.jpg');
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.splash-devices-info {
  width: 325px;
  margin-left: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

p.sdi-header {
  line-height: 1.2;
  font-size: 34px;
  margin-bottom: 17px;
}

p.sdi-header:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-image: linear-gradient(90deg,#7d01a1,#f30 50%,#f50);
  margin-top: 15px;
}

p.sdi-content {
  font-size: 24px;
}

.sdi-links {
  margin-top: 28px;
}

.sdi-links span {
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  margin-top: 14px;
  margin-right: 8px;
  height: 40px;
}

.app-store {
  background-image: url('app-store-icon.png');
  width: 120px;
}

.google-play {
  background-image: url('google-play-icon.png');
  width: 135px;
}

.splash-creative {
  background: url('splash-creative-geronimo-giqueaux.png');
  background-size: cover;
  display: flex;
  height: 350px;
  align-items: center;
}

.splash-creative-content {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 520px;
  padding: 0 570px 0 70px;
}

p.scc-title {
  font-size: 36px;
}

p.scc-tagline {
  font-size: 24px;
  line-height: 1.35;
  margin: 11px 0 39px;
}

.scc-button {
  background: transparent;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  padding: 13px 24px;
  height: 46px;
}

.scc-button:hover, .signin:hover {
  border: 1px solid white;
}

.splash-botttom-session {
  background: white;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 375px;
}

.sbs-title {
  font-size: 38px;
}

.sbs-tagline {
  font-size: 24px;
  margin: 15px 0 15px 0;
}

.sbs-alternative.font-light {
  font-size: 14px;
}

.sbs-signup, .sms-upload, 
.smt-explore-button {
  background-color: #f50;
  border-color: #f50;
  border-radius: 3px;
  color: #fff;
  font-size: 17px;
  padding: 13px 23px;
}

.sbs-signin {
  border: 1px solid #e5e5e5;
  font-size: 15px;
  margin: 10px 0 0 10px;
  padding: 10px 15px;
}

.sbs-signin:hover {
  border-color: grey;
  transition: opacity .5s linear;
}

.splash-footer {
  background: #fff;
  height: 78px;
  padding: 0 30px 75px;
}

.footer-links {
  border-top: 1.2px solid #f2f2f2;
  color: #ccc;
}

.personal-links {
  display: flex; 
  justify-content: flex-end;
  margin-top: 22px;
}

.personal-links a {
  font-size: 25px;
  margin-left: 7px;
}

#personal-site {
  display: flex;
  align-items: center;
  font-size: 23px;
  font-weight: 700;
  font-style: italic;
  margin-right: 5px;
}

/* MODAL */

.modal-background {
  background: rgba(242, 242, 242, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.2s linear;
  z-index: 10;
}

.modal-child {
  background-color: white;
  height: 555px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 450px;
}

.session-form-providers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.session-form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  margin: auto;
  min-height: 500px;
  width: 400px;
}

.sign-up-greeting {
  color: #333;
  font-size: 32px;
  padding-bottom: 10px;
  text-align: center;
}

.session-form-providers a {
  align-items: center;
  border-radius: 3px;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 7px 15px;
  text-align: center;
  width: 100%;
}

.demo-user {
  background: #350FCF;
  color: white;
  cursor: pointer;
}

.demo-user svg {
  font-size: 14px;
  margin-right: 8px;
}

.connect-github {
  border: 1px solid #ccc;
  color: #222;
}

.connect-github svg {
  font-size: 17px;
  margin-right: 8px;
}

.connect-openFridge {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-openFridge span {
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
  margin-right: 8px;
}

.auth-separator {
  border-bottom: 1px solid #333;
  margin: 10px 0 10px;
  text-align: center;
  line-height: 0.1em;
  width: 100%;
}

.auth-separator span {
  background: #fff;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
}

.session-form-input input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  padding: 7px 8px;
  margin-top: 10px;
  width: 380px;
}

.email-input {
  position: relative;
}

.email-input.step2 input {
  padding-left: 30px;
  width: 358px;
}

.session-form-back {
  position: absolute;
  left: 10px;
  top: 22px;
}

.session-form-errors {
  color: #cf0000;
  font-size: 12px;
  margin: .5em 0;
  transition: margin .12s;
}

.session-form-next {
  background-color: #f50;
  border-radius: 3px;
  color: white;
  display: flex;
  height: 25px;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-top: 10px;
  width: 370px;
}

.step1-footer {
  font-size: 13px;
  font-weight: 350;
}

.step2-footer {
  color: #333;
  padding: 20px;
  font-size: 12px;
  text-align: center;
}

.step3-msg {
  color: #999;
  font-size: 12px;
  margin-top: 7px;
}

.step1-footer-content p {
  color: #999;
  line-height: 15px;
  margin: 15px 0 8px;
}

.step1-footer-content a, 
.signup-terms span {
  color: #4472CA;
  font-weight: 350;
}

.signup-terms {
  font-size: 12px;
  line-height: 15px;
  padding-top: 5px;
}

.step1-footer-content a:hover, 
.need-help:hover,
.signup-terms span:hover {
  color: black;
}

/* NAV BAR */

.banner {
  background: #333;
  height: 46px;
}

.nav-bar {
  align-items: center;
  color: #ccc;
  font-size: 14px;
  display: flex;
  height: 46px;
  margin: 0 auto;
  max-width: 1240px;
}

.nav-bar-left {
  display: flex;
}

.nbl-session {
  padding-left: 15px;
}

.nbl-logo {
  background: linear-gradient(#f70,#f30);
  width: 80px;
  display: flex;
  justify-content: center;
}

.nbl-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nbl-logo img {
  height: 20px;
  width: 20px;
}

.nbl-logo.half img {
  height: 25px;
  width: 25px;
}

.nbl-logo p {
  color: white;
  font-family: Inconsolata;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-left: 8px;
}

.nbl-logo.full {
  width: 150px;
}

ul.nbl-nav-list {
  display: flex;
  align-items: center;
}

ul.nbl-nav-list li a {
  border-right: 1px solid #111;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 0;
  height: 46px;
  width: 104px;
}

.nav-bar-search {
  padding: 9px 10px 8px;
  position: relative;
}

.nav-bar-search input {
  color: #666;
  outline: 0;
  border: 0;
  padding: 5px 7px;
  background: #e5e5e5;
  border-radius: 3px;
  width: 396px;
}

.nav-bar-search button {
  color: #333;
  position: absolute;
  top: 16px;
  right: 20px;
}

.nav-bar-right {
  display: flex;
  align-items: center;
}

.menu-dropdown-button {
  position: relative;
  text-align: center;
  height: 46px;
  width: 46px;
}

.nbr-user-btn {
  text-align: center;
  height: 46px;
  width: 46px;
}

.nbr-upgrade, .nbr-upload {
  padding: 16px 10px;
}

.nbr-upgrade {
  color: #f50;
}

button.nbr-upgrade.not-allowed:hover {
  color: #f70;
}

.profile-dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 14px 10px;
  width: 120px;
}

.nb-menu-dropdown.hidden,
.nb-profile-dropdown.hidden {
  display: none;
}

.nb-menu-dropdown.revealed,
.nb-profile-dropdown.revealed {
  background: black;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  top: 46px;
  width: 170px;
}

.nb-menu-dropdown {
  right: 100px;
}

.nb-menu-dropdown ul {
  border-bottom: 1px solid #333;
}

.nb-menu-dropdown.revealed ul li {
  cursor: not-allowed;
}

.nb-menu-dropdown li, 
.nb-profile-dropdown li {
  padding: 8px 10px;
}

.nb-menu-dropdown li:hover, 
.nb-profile-dropdown li:hover {
  background: #333;
}

.nb-profile-dropdown a {
  display: flex;
  align-items: center;
}

.nb-profile-dropdown p {
  padding-left: 8px;
}

li.dropdown-signout {
  list-style: none;
  cursor: pointer;
}

.nav-bar-right li:hover,
.nav-bar-right button:hover {
  color: #fff;
}

.profile-pic-dropdown img {
  border-radius: 50%;
  height: 26px;
  width: 26px;
}

/* DISCOVER */

.discover-main {
  background: white;
  display: flex;
  margin: 0 auto;
  width: 1240px;
}

.discover-main-content {
  border-right: 1px solid #f2f2f2;
  margin: 30px;
  width: 820px;
}

.dmc-content {
  margin-right: 30px;
}

.dmc-content > li {
  border-bottom: 1.4px solid #f2f2f2;
  padding-bottom: 48px;
  margin-bottom: 34px;
}

.discover-main-sidebar {
  margin: 30px 30px 0 0;
  width: 420px;
}

.playlist-title {
  margin-bottom: 24px;
}

.playlist-title h2 {
  color: #333;
  font-size: 24px;
}

.playlist-title p {
  color: #999;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}

.playlist-content {
  display: flex;
  overflow: auto;
}

.playlist-content li {
  margin-right: 15px;
}

.dms-openFridge {
  background: #f2f2f2;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  padding: 38px;
  margin-bottom: 25px;
  height: 250px;
  width: 100%;
}

.dms-of-text {
  display: flex;
  margin-bottom: 15px;
}

.dms-of-text:hover 
.dms-of-tagline p:nth-child(3) span {
  color: #333;
  font-weight: 400;
  transition: ease-in 0.5ms;
}

.dms-of-tagline p:nth-child(1),
.dms-of-tagline p:nth-child(2) {
  line-height: 18px;
  font-weight: 400;
}

.dms-of-tagline p:nth-child(3) {
  color: #999;
  font-size: 12px;
  line-height: 14px;
  margin-top: 3px;
}

.hey-hey {
  margin-right: 15px;
  width: 78px;
}

.of-demo-pic {
  background: url('openFridge-home.png');
  background-size: cover;
  height: 113px;
}

.dms-whotofollow {
  margin-bottom: 20px;
}

.dms-social {
  border-top: 1px solid #f2f2f2;
  color: #999;
  display: flex;
  padding-top: 11px;
}

.dms-social a {
  font-size: 16px;
  margin-left: 5px;
}

#personal-site-discover {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  margin-right: 5px;
}

/* PROFILE */

.user-profile-banner {
  height: 260px;
  width: 1240px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upb-content {
  display: flex;
}

.upb-avatar img {
  border-radius: 50%;
  margin: 30px;
  height: 200px;
  width: 200px;
}

.upb-info {
  margin: 30px 0;
}

.upb-info p {
  background: black;
  color: white;
  font-size: 24px;
  font-weight: 400;
  padding: 8px;
}

.upn-tabs {
  display: flex;
  align-items: flex-end;
}

.upn-tabs-list {
  display: flex;
}

.user-profile-nav {
  background: white;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 10px;
  width: 1180px;
}

.upn-tabs-list li {
  padding-right: 20px;
  font-size: 16px;
  font-weight: 500;
}

.upn-buttons {
  display: flex;
}

.upn-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  padding: 4px 11px 4px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-left: 10px;
}

.upn-buttons button:hover {
  border: 1px solid #333;
}

.upn-buttons button:nth-child(1) svg,
.upn-buttons button:nth-child(2) svg,
.upn-buttons button:nth-child(3) svg {
  margin-right: 5px;
}

.profileFollowButton.followed {
  border-color: #f50;
  color: #f50;
}

.profileFollowButton.followed:hover {
  background: #f50;
  border-color: #f50;
  color: #fff;
}

.user-profile-main {
  display: flex;
  background: white;
  width: 1240px;
}

.upm-main h3 {
  padding-top: 22px;
  margin: 12px 0 20px;
  font-size: 23px;
  font-weight: 100;
}

.upm-main {
  border-right: 1px solid #f2f2f2;
  padding-left: 30px;
}

.upm-main-container {
  width: 850px;
}

.upm-sidebar {
  margin: 20px 30px;
  width: 300px;
}

.userAllList {
  display: flex;
  flex-direction: column;
}

.userAllList li {
  margin-bottom: 36px;
}

.soundArtwork img {
  border: 0.5px solid rgba(0,0,0,.1);
  height: 160px;
  width: 160px;
  margin-right: 15px;
}

.soundContent-header {
  display: flex;
  align-items: center;
  font-size: 12px;    
  margin: 6px 0;
  width: 644px;
}

.sch-play-button svg {
  color: #f50;
  height: 36px;
  width: 36px;
}

.sch-play-button {
  margin-right: 5px;
}

.sch-title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sch-title p {
  line-height: 16px;
}

.sch-title a {
  color: #333;
  font-size: 15px;
  font-weight: 400;
}

.sch-additional {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  line-height: 16px;
}

.sch-additional a {
  background: #999;
  border: 1px solid #999;
  border-radius: 20px;
  color: #fff;
  height: 16px;
  padding: 0 6px;
  margin-top: 1px;
}

.soundBody {
  display: flex;
}

.soundContent {
  color: #999;
  width: 644px;
}

.soundContent-waveform {
  background: #999;
  height: 60px;
  width: 100%;
}

.soundContent-comment {
  background: #f2f2f2;
  border: 1px solid #e5e5e5;
  display: flex;
  height: 20px;
  padding: 5px;
  margin: 22px 0 10px 0;
}

.scc-commentAvatar {
  height: 20px;
  width: 20px;
}

.scc-commentForm {
  background: #fff;
  border-radius: 0 4px 4px 0;
  color: #333;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  height: 20px;
  width: 100%;
  padding: 0 9px;
}

.soundContent-footer {
  display: flex;
  justify-content: space-between;
  color: #333;
  font-size: 12px;
  min-height: 30px;
}

.scf-footerRight {
  display: flex;
}

.scf-actions {
  display: flex;
}

.scf-actions button {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  line-height: 16px;
  padding: 2px 9px 2px 8px;
  margin-right: 5px;
}

.scf-actions button svg {
  margin-right: 3px;
}


.info-stats-table {
  color: #999;
  font-size: 14px;
  margin-bottom: 14px;
  width: 300px;
}

.info-stats-table td {
  border-right: 1px solid #f2f2f2;
  width: 33.33%;
  padding-left: 10px;
}

.info-stats-table div {
  font-size: 20px;
  font-weight: 300;
  margin-right: 5px;
}

.profile-followings {
  height: 180px;
  margin-top: 5px;
  overflow: scroll;
}

.followingItem,
.followerItem {
  margin: 10px 0;
}

.followingItem a {
  color: #333;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.sb-followingAvatar {
  border-radius: 50%;
  margin-right: 8px;
  height: 50px;
  width: 50px;
}

.sb-followerAvatar {
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.followingsModule span,
.followersModule span {
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  align-items: center;
  color: #999;
  font-size: 14px;
  padding: 5px 0;
}

.followingsModule span svg {
  font-size: 18px;
  margin-right: 5px;
}

.followersModule span svg {
  font-size: 14px;
  margin-right: 4px;
}

.profile-followers {
  display: flex;
}

.followingItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sb-followingDetail {
  width: 100%;
}

.sb-followingStats {
  color: #999;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.sb-followingStats p {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.sb-followingStats p svg {
  margin-right: 3px;
}

.followButton {
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 11px;
  height: 22px;
  line-height: 16px;
  padding: 2px 9px 2px 8px;
}

.followButton:hover {
  border: 1px solid #333;
}

.followButton.followed {
  border-color: #f50;
  color: #f50;
}

.followButton.followed:hover {
  border-color: #f50;
  background: #f50;
  color: white;
}

.followButton svg {
  font-size: 12px;
  margin-right: 5px;
}


/* TRACK SHOW */

.tsb-artwork img {
  width: 300px;
}

/* MUSIC PLAYER */

.music-player-bar.hidden {
  display: none;
}

.music-player-bar {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
}

.music-player {
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}

.music-player-controls {
  display: flex;
}

.mpc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
  width: 24px;
}

.mpc-progress {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-right: 14px;
}

.progress {
  background: #333;
  position: relative;
  margin: 10px;
  height: 2px;
  width: 500px;
}

#timeElasped {
  color: #f50;
}

#progressBar {
  background: #f50;
  height: 2px;
}

#progressBall {
  background: #f50;
  border-radius: 100%;
  margin-top: -5px;
  margin-left: -4px;
  position: absolute;
  height: 8px;
  width: 8px;
}

.volume-container.hidden {
  visibility: hidden;
}

.volume-container {
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  border: 1px solid #cecece;
  height: 118px;
  position: fixed;
  bottom: 44px;
  visibility: visible;
  width: 30px;
}

.volume {
  height: 100%;
  position: relative;
}

.volume-extra {
  height: 10px;
}

input[type="range"] {
  height: 100%;
  transform: rotate(-90deg) translateY(-35px) !important;
  width: 100px;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  background: #f50;
  border-radius: 100%;
  cursor: pointer;
  height: 8px;
  transform: translateY(-2.75px);
  width: 8px;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #333;
  cursor: pointer;
  width: 100%;
  height: 2px;
}

.mpc-soundBadge {
  display: flex;
  align-items: center;
}

.soundBadge-avatar img {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
  height: 30px;
  width: 30px;
}
.soundBadge-info {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 14px;
  width: 225px;
}

.soundBadge-actions {
  display: flex;
  justify-content: space-evenly;
  width: 65px;
}

/* TRACK UPLOAD */

.upload {
  color: #333;
  margin: 0 auto;
  width: 1240px;
}

.upload-main {
  background: url('track-upload.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.ulm-tryPro {
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  height: 56px;
  padding: 20px;
  width: 760px;
}

.ulm-dropzone {
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 386px;
  width: 800px;
}

.ulm-dropzone span {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.ulm-dropzone-top {
  display: flex;
  flex-direction: column;
  margin: 135px 0;
}

.ulm-dropzone-bottom {
  font-size: 12.5px;
  margin-bottom: 20px;
}

.upload-limit {
  display: flex;
  justify-content: space-between;
}

.upload-limit p {
  font-weight: 500;
}

.ulm-tryPro-left {
  font-size: 14px;
}

.upload-limit-meter {
  background: #999;
  height: 4px;
  margin: 10px 0;
  width: 410px;
}

.ulm-tryPro-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.ulm-tryPro-right button {
  background: #fff;
  border: 1px solid #f50;
  color: #f50;
  font-size: 15px;
  height: 20px;
  padding: 10px 15px;
}

.ulm-tryPro-right button:hover {
  background: #f50;
  color: #fff;
}

.ulm-footer {
  background-color: hsla(0,0%,94.9%,.9);
  border: 1px solid #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12.5px;
  height: 112px;
  padding: 20px;
  margin-top: 7px;
  width: 760px;
}

.ulm-footer-top {
  padding-bottom: 10px;
}

.ulm-footer-top p:nth-child(1) {
  color: #4472CA;
  padding-bottom: 8px;
}

.ulm-footer-bottom {
  border-top: 1px solid #fff;
  padding-top: 10px;
}

.ulm-footer-bottom p:nth-child(2) {
  color: #4472CA;
  padding-top: 8px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  background: #f50;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  text-align: center;
  width: 250px;
}

